html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: white;
}


.swagger-ui .topbar {
    background-color: #00893E;
    padding: 10px 0;
}

.swagger-ui .topbar .download-url-wrapper .download-url-button {
    background: #89bf04;
    border: none;
    border-radius: 0 4px 4px 0;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 30px;
}